/*@import url(http://webfonts-plus.herokuapp.com/src?family=Circular);*/

*:not(i):not(.sidebar-toggle):not(pre)
{
    /*font-family: "NeuzeitS-Book", "Circular", sans-serif !important;*/
    font-family: "Helvetica Neue", "Arial", sans-serif !important;
}


/*.skin-blue .main-header .logo {
    background: #698731;
}

.skin-blue .main-header .navbar {
    background: #87a44f;
}*/


